* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../media/binary-1280x853.jpg);
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    height: 5rem;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 2rem;
    box-shadow: 0 0 20px;
    width: 44%;
    margin: auto;
    background: rgb(0, 30, 107);
}

.container-2 {
    display: flex;
    flex-flow: column nowrap;
    height: 6rem;
    justify-content:center;
    align-items: center;
    margin: 10px 0 8px 0;
    padding: 8px;
}

.container-2 .screen {
    width: 600px;
    text-align: end;
    background-color: black;
    color: rgb(0, 138, 12);
    border: 3px solid rgb(0, 0, 73);
    border-radius: 1rem;
    font-size: 5rem;
    padding-right: 10px;
}

.container-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

.container-3 .top {
    width: 240px;
    background-color: red;
}

.container-4 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.container-5 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.container-6 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.container-7 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}


.btn {
    width: 150px;
    height: 90px;
    border: 3px solid black;
    border-radius: 1em;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 5px;
    background-color: blanchedalmond;
    
}

.side {
    background-color: gold;
}

.equals {
    background-color: blue;
}

.btn:hover {
    background-color: green;
}
